################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlowinglyTest/.vs/FlowinglyTest/FileContentIndex/eaab158e-afdb-456d-9575-b7260c69c11c.vsidx
/FlowinglyTest/.vs/FlowinglyTest/FileContentIndex/bd0e26f7-030d-4d86-994e-905b2b28d068.vsidx
/FlowinglyTest/.vs/FlowinglyTest/FileContentIndex/9030fda5-3078-4bbd-bd27-d3027d230172.vsidx
/FlowinglyTest/.vs/FlowinglyTest/FileContentIndex/6d83bf87-efad-4ede-aa0b-c91236daee8e.vsidx
